{% extends "layout.html" %}
{% block body %}

{% if arrangement %}
	<h2>{{ arrangement['naam'] }}</h2>


	<ul class="nav nav-tabs" data-tabs="tabs">
		<li class="active"><a data-toggle="tab" href="#informatie">Informatie</a></li>
		<li><a data-toggle="tab" href="#voorbeeldprogramma">Voorbeeldprogramma</a></li>
		<li><a data-toggle="tab" href="#prijzen">Prijzen</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="informatie">
			<h3>Informatie</h3>
			<p>{{ data['beschrijving'] | nl2br }}</p>
		</div>
		<div class="tab-pane" id="voorbeeldprogramma">
			<h3>Voorbeeldprogramma</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Begin</th>
						<th>Eind</th>
						<th>Omschrijving</th>
					</tr>
				</thead>
				<tbody>
					{% for regel in arrangement['voorbeeld_programma'] %}
						<tr>
							<td>{{ regel['tijd_begin'] }}</td>
							<td>{{ regel['tijd_eind'] }}</td>
							<td>
								{% if regel['product']: %}
									<a href="{{ url_for('product', product_id=regel['product']['id']) }}">{{ regel['omschrijving'] }}</a>
								{% else: %}
									{{ regel['omschrijving'] }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="prijzen">
			<h3>Prijzen</h3>
			<table>
				<tr><th>Minimum aantal personen</th><td>{{ arrangement['aantal_personen'] }}</td></th>
				<tr><th>Prijs per persoon (exc BTW)</th><td>€ {{ '%.2f' % arrangement['prijs_pp_exc'] }}</td></th>
				<tr><th>Prijs per persoon (inc BTW)</th><td>€ {{ '%.2f' % arrangement['prijs_pp_inc'] }}</td></th>
			</table>
		</div>
	</div>


{% endif %}

{% endblock %}